[submodule "src/main/java/net"]
	path = src/main/java/net
	url = https://github.com/HowXuVSCode/Chocolate_mcp_src
[submodule "src/main/java/javax"]
	path = src/main/java/javax
	url = https://github.com/HowXuVSCode/Chocolate_javax_src
